<section class="jumbotron">
  <h2>
    <a class="jumbo-thumbnail" href="/"><img class="avatar" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></a>
  </h2>
  <h1>RoR Auth0 Sample</h1>
  <p>Step 4 - Linking and unlinking accounts.</p>
  <a class="btn btn-success btn-lg" onclick="signin()">Login</a>
</section>
